/************************** common css ***********************************/
body{
    background-image: url(../img/s5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    /* background-size: 100%; */
}

#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 3;
  }
  
  .links {
    float: right;
  }
  
  .links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  
  .links a:hover{
    background-color: rgba(0, 0, 0, 0.034);
  }

  #main{
    /* background-color: rgba(0, 0, 0, 0.219); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,1)); */
    width: 100%;
    min-height: 100%;
    margin: none;
    padding: none;
    top:10%;
    left: 0;
    position: absolute;
    text-align: center;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}
/***************************** index.html *******************************************/

#gravatar{
    width: 15%;
    border: 5px solid #25897d78;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    /* box-shadow: 10px 1px rgba(0, 0, 0, 0.37); */
}
#type-writer{
    color: white;
    font-size: xx-large;
}
#myname{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900; 
    color: rgba(240, 248, 255, 0.753);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    /* font-size: 10vw; */
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: rgba(255, 166, 0, 0.747);
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 40pt;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
    animation: blink .75s step-end infinite;
    font-size: xx-large;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
 
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}

/****************************** projects.html *******************************************/

* {
  box-sizing: border-box;
}


/* Center website */
.projects {
  /* max-width: 1000px; */
  max-width: 60%;
  margin: auto;
  margin-top: 20px;
}

.row {
  margin: 8px -32px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  position: relative;
}
.content img{
  border: 2px black solid;
}
.project-title{
  /* background-color: rgba(240, 248, 255, 0.37) */
  /* color: rgb(190, 190, 190); */
  font-size: 2em;
}
.project-title a{
  text-decoration: none;
  color: rgb(190, 190, 190);
}
.project-des{
  font-size: 2em;
  text-align: start;
  margin-left: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  
}
::-webkit-scrollbar {
  
  background: transparent;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.img__description {
  border-radius: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right bottom, #051937, #001c2d, #001b1c, #00170c, #0c1101);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  size: initial;

  /* transition effect. not necessary */
  transition: all 0.3s, visibility 0.3s;
  border: none;
}
.content:hover .img__description {
  visibility: visible;
  opacity: 1;
}




/****************************about.html*******************/
#social{
  margin-top:10%;
  display: inline-flex;
  width: fit-content;
  margin-left: 30px;
  margin-right: auto;

}
#social img{
  width: 10vw;
  height:10vw;
  margin-right: 10vw;
  /* border: black solid 2px; */
  -webkit-filter: drop-shadow(10px 10px 0 black) 
                    drop-shadow(-2px -2px 0 rgb(12, 12, 12));
    filter:drop-shadow(10px 1px 0 black) 
           drop-shadow(-1px -1px 0 rgb(17, 17, 17));
}






/*********************************** Media Quearies **************************************************************/
/************************INDEX*******************************/
@media all and (max-aspect-ratio: 1/1) {
    body{
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-size: cover;
    }

    #gravatar{
        width: 200px;
    }

    #myname{
        font-size: 10vw;
    }
    #text{
        font-size: 10vw;
    }
  }

  @media screen and (max-width: 740px) {

    .links a{
        font-size: 2rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    #nav-bar{
        background-color: rgba(0, 0, 0, 0.39);
        margin-right: 0px;
    }
  }

  @media screen and (max-width: 540px) {

    .links a{
        font-size: 1rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    #nav-bar{
        background-color: rgba(0, 0, 0, 0.39);
        margin-right: 0px;
    }

  }
/****************************PROJECT-media quearies********************************/
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  .project-title{
    font-size: 2em;
  }
  .project-des{
    font-size: 1em;
    
  }

  /***********this is for about.html************/
  #social{
    flex-direction: column;
    height: fit-content;
    width: auto;
    
  }
  #social img{
    width: 10vh;
    height:10vh;
    margin-bottom: 10vh;

  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/****************** contact-media quearies ***********************/
